body {
  font-size: 16px;
  color: #fff;
  background-color: #a195a3;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #34b3a0;
  border-radius: 0;
  border: 0;
  padding-bottom: 15px;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #24011f;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#menu
{
 font-family: 'Montserrat', sans-serif;
  color: #4b0707;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;

}
#nav-list {
  margin-top: 10px;
  background-color: #feb734;


}
#nav-list a {
  color: #951C49;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #4b0707;
   border: 1px solid #61122f; 
}
#nav-list a:hover {
  background: #E7E7E7;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */
#essay
{
  margin-top: 30px;
  background-color: #636349;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

#insidehead
{
   font-family: 'Oxygen', serif;
  color: #8e1c01;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 20px;
  line-height: .75;

}